@font-face {
  font-family: 'RobotoRegular';
  src: local('RobotoRegular'), url('./RobotoRegular.ttf') format('truetype');
}

.hello {
  font-family: 'RobotoRegular';
  color: red;
  background: url(./icon.png);
}
